@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-white;
}

input {
  @apply text-black;
}

body,
html {
  @apply bg-black;
}

.cool-text {
  text-shadow: -1px 1px 2px #00ffff, -2px 2px 2px #ff00ff, 2px -2px 2px #ffff00;
}

.glow {
  box-shadow: 0 0 50px 10px rgba(125, 252, 178, 0.5);
}

td {
  @apply mx-2 p-4 text-left;
}

th {
  @apply mx-2 p-4 text-left;
}

tr {
  @apply divide-x divide-black;
}

.bg-animate {
  background: linear-gradient(0deg, #7dfcb2, #000000);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 40% 0%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 40% 0%;
  }
}
